.style
{
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    padding: "20px";
    border-radius: "10px";
    margin-left:20px;
}

h1
{
    font-size:50px;
}

.playlist 
{
    display:flex;
    padding:10px;

}
.playlist button 
{
    margin-left:10px;
}
input
{
    background-color:transparent;
    color:white;
    width:300px;
    height:50px;
    font-size:40px;
}
input::placeholder
{
    color:white;
}

.trashImage {
    width: 30px;  /* Example size for the image */
    height: 30px; /* Example size for the image */
    transition: filter 0.3s ease;
}

.trashImage:hover {
  filter: invert(36%) sepia(74%) saturate(7484%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.buttonSort
{
    display:flex;
    flex-direction:column;
    margin-top:30px;
    
}

.spotify
{
    display:flex;
   
    align-items:center;
    cursor:pointer;
    transition: background-color 0.3s ease;
    width:150px;
}



.spotify:hover
{
    background-color:orange;
    color:purple;
}