.style
{
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    padding: "20px";
    border-radius: "10px";
    margin-left:20px;
}

h1
{
    font-size:50px;
}

.playlist 
{
    display:flex;
    padding:10px;

}
.playlist button 
{
    margin-left:10px;
}
input
{
    background-color:transparent;
    color:white;
    width:300px;
    height:50px;
    font-size:40px;
}
input::placeholder
{
    color:white;
}

.trashImage {
    width: 30px;  /* Example size for the image */
    height: 30px; /* Example size for the image */
    transition: filter 0.3s ease;
}

.trashImage:hover {
  filter: invert(36%) sepia(74%) saturate(7484%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.buttonSort
{
    display:flex;
    flex-direction:column;
    margin-top:30px;
    
}

.spotify
{
    display:flex;
   
    align-items:center;
    cursor:pointer;
    transition: background-color 0.3s ease;
    width:150px;
}



.spotify:hover
{
    background-color:orange;
    color:rgb(103, 7, 103);
}

.loadPlaylist
{
    display:flex;
}

.loader 
{
    
    display:flex;
    justify-content:center;
    align-items:center;
    color: lightpink;
    transition: opacity 0.75s, visibility 0.75s;

}

.loader-hidden
{
    opacity:0;
    visibility:hidden;
}

.loader::after
{
    content:'';
    width:15px;
    height:15px;
    border: 5px solid #dddddd;
    border-color:purple;
    border-top-color: rgb(221, 170, 50);
    background-color:purple;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
    margin-left:175px;
    margin-bottom:75px;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform:rotate(1turn);
    }
}
